#All-box{
    width: 100%;
    margin: 0 auto;
    height: 100%;
    background: #ffffff;
    max-width: 1980px;
    min-width: 1200px;
    overflow: hidden;
}
#allbox{
    max-width: 1200px;
    margin: 0 auto;
    /*height: 3000px;*/
    /*background: white;*/
}
.nav-box{
    background: rgba(0,0,0,.2);
    position: fixed;
    width: 100%;
    max-width: 1980px;
    height: 80px;
    display: flex;
    align-items: center;
    z-index: 2;
}
.java-swiper1 {
    width: 1980px;
    height: 700px;
}
.nav-mid {
    width: 1200px;
    /*width: 100%;*/
    margin: 0 auto;
    align-items: center;
    font-size: 18px;
}
.nav-mid a{
    color: #ffffff;
}
.banner{
    width: 1980px;
}
.gjvd-right-nav{
    width: 940px;

}
.java-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 108px;

}
.java-head p:nth-child(2){
    width:521px;
    height:38px;
    font-size:35px;
    color:rgba(28,30,35,1);
    font-weight: bold;
    margin-left: 51px;
    margin-right: 51px;
}
.java-head img:nth-child(1){
    margin-left: -150px;
}
.java-head img:nth-child(3){
    margin-right: -150px;
}
.con1{
    width:270px;
    height:380px;
    background:rgba(156,99,198,.1);
    border-radius: 16px;
    color: #646D87;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 34px 30px 33px 30px;
}
.con1 p:nth-child(2){
    color: #1C1E23;
    width:188px;
    font-size:22px;
    color:rgba(28,30,35,1);
    margin-bottom: 19px;
}
.java-con{
    display: flex;
    justify-content: center;
    margin-top: 88px;
}
.money{
    width: 1200px;
    margin: 0 auto;
}
.con1 img{
    width: 58px;
    height: 58px;
    /*margin-top: 34px;*/
    margin-bottom: 43px;
}
.con1 p:nth-child(3){
    line-height:29.5px;
    font-size:18px;
}
.con11{
    margin-left: 34px;
}
.first-last{
    width: 770px;
    margin:  0 auto;
    font-size:24px;
    color:rgba(255,255,255,1);
    margin-bottom: 52px;
}
.last-one{
    width:376px;
    height:43px;
    background: url("../img/1-5.png") no-repeat 0 0 /100% 100%;
    text-align: center;
    line-height: 43px;
    margin: 0 auto;
    margin-top: 42px;
}
.last-sed{
    margin-top:25px ;
}
.sed-first,.sed-sed{
    width: 768px;
    height: 40px;
    background: url("../img/1-6.png") repeat 0 0;
    display: flex;
    justify-content: space-around;
    font-size:18px;
    color:rgba(255,255,255,1);
    line-height:40px;
}
.sed-sed{
    margin-top: 4px;
    width: 752px;
    background: url("../img/a1.png") repeat 0 0;
}
.sed-third{
    width:273px;
    height:50px;
    background:rgba(156,99,198,1);
    border-radius: 25px;
    box-shadow:17px 0px 18px rgba(89,25,136,0.19);
    margin: 0 auto;
    margin-top: 41px;
    display: flex;
    align-items: center;
}
.third-first{
    width:36px;
    height:36px;
    background:rgba(255,255,255,1);
    border-radius: 50%;
    margin-left: 17px;
    margin-right: 18px;
}
.sed-third{
    font-size:22px;
    color:rgba(254,254,254,1);
}
.second-box{
    background: #f2f2f2;

}
.second-head img:nth-child(1){
    margin-left: -170px;
}
.second-head{
    margin-top: 68px;
}
.second-head img:nth-child(3){
    margin-right: -170px;
}
.second-first{
    width:1056px;
    height:24px;
    font-size:20px;
    color:rgba(156,99,198,1);
    margin:  0 auto;
    margin-top: 76px;
    margin-bottom: 59px;
}

.second{
    background: #f2f2f2;
    width: 100%;
}
.second-box{
    margin: 0 auto;
    width: 1200px;
}
.second-third img{
    width:161px;
    height:161px;
    margin-bottom: 12px;
}
.second-third p{
    /*width:153px;*/
    /*height:63px;*/
    font-size:15px;
    color:rgba(76,82,99,1);
    line-height:25px;
}
.second-third span{
    display: inline-block;
    margin-left: 32px;
}
.second-second{
    display: flex;
    justify-content: space-around;
}
.scroll-form{
    width: 1200px;
    /*height: ;*/
}
.form-head{
    width:1200px;
    height:48px;
    background:rgba(156,99,198,1);
    margin-top: 67px;
    color: #ffffff;
    display: flex;
    font-size: 24px;
    line-height: 48px;
}
.form1{
    width:1200px;
    height:48px;
    background:rgba(156,99,198,1);
    /*margin-top: 67px;*/
    color: #ffffff;
    display: flex;
    font-size: 18px;
    line-height: 48px;
}
.form1 p:nth-child(1){
    width: 61px;
    margin-left: 62px;
}
.form1 p:nth-child(2){
    width: 200px;
    margin-left: 90px;

}
.form1 p:nth-child(3){
    width: 270px;
    margin-left: 60px;
}
.form1 p:nth-child(4){
    width: 176px;
    margin-left: 67px;
}
.form1 p:nth-child(5){
    width: 65px;
    margin-left: 90px;
}
.scroll-form .swiper-slide{
    width: 100%;
    height: 50px;
}
.scroll-form .swiper-container{
    width: 1200px;
    height: 350px;
}
.konghe{
    width: 100%;
    height: 50px;
}
.form11{
    background: #f2f2f2;
    color: #4C5263;
}
.form111{
    background:rgba(156,99,198,.1);
}
.java-btn{
    height: 50px;
    margin-top: 59px;
    width: 180px;
}
.baihe{
    height: 50px;
    width: 100%;
}
.third-box{
    background: url("../img/j2.png") no-repeat 0 0/100% 100% ;
    width:100% ;
    height: 941px;
}
.salary{
    width: 1200px;
    margin: 0 auto;
    padding-top: 50px;
}
.java-head{
    margin-top: 0;
}
.baitou p:nth-child(2){
    margin-bottom: 10px;

}
.salary-con{
    width: 1180px;
    height: 190px;
    margin: 0 auto;
    background: url("../img/j1.png") no-repeat 0 0/100% 100%;
    margin-top: 85px;
    padding: 20px 30px 0 30px;

    font-size:20px;
    color:rgba(245,246,249,1);
    line-height:42px;
}
.salary-last{
    margin-top: 71px;
    margin-bottom: 57px;
}
.salary-btn{
    width:213px;
    height:50px;
    background:rgba(255,255,255,1);
    border-radius: 25px;
    box-shadow:17px 0px 18px rgba(89,25,136,0.19);
    color:rgba(156,99,198,1);
}
.salary-btn p{
    color: #000;
}
.fourth-box{
    width: 100%;
    background: url("../img/4-3.png") no-repeat 0 0 /100% 100%;
    height: 990px;
    padding-top: 50px;
}
.subject{
    width: 1200px;
    margin: 0 auto;
    padding-bottom: 50px;
}
.sub-btn{
    width: 220px;
    height: 50px;
}
.sub-con{
    height: 617px;
    width: 1470px;
    margin-top: 122px;
    margin-bottom: 54px;
    background: url("../img/4-3-1.png") no-repeat 0 0/100% 100%;
    margin-left: -155px;
    flex-direction: column;
}
.five-box{
    width: 100%;
    background: url("../img/5-3.png") no-repeat 0 0 /100% 100%;
}
.stage{
    width: 1200px;
    margin:  0 auto;
}
.stage-head{
    /*margin-top: 60px;*/
}
.stage-p{
    width:915px;
    height:93px;
    font-size:20px;
    color:rgba(255,255,255,1);
    line-height:48px;
    margin: 0 auto;
    margin-top: 88px;
}
.stage-con{
    width: 1180px;
    height: 100px;
}
.sub-top,.sub-down{
    display: flex;
    align-items: center;
    justify-content: center;
}
.b1{
    width: 435px;
    height: 178px;
}
.b1 p:first-child{
    font-size: 24px;
    font-weight: bold;
    color: #646D87;
    margin-bottom: 0.1rem;
}
.b1 p:last-child{
    font-size:20px;
    color:rgba(100,109,135,1);
    line-height: 36px;
}
.sub-top{
    margin-bottom: 65px;
}
.sub-down{
    margin-top: 65px;
}
.subtop-left,.sub-down-left{
    margin-right: 42px;
}
.subtop-right,.sub-down-right{
    margin-left: 42px;
}
.konghe1{
    width: 100%;
    height: 60px;
    background: rgba(0,0,0,0);
}
.five-box{
    width: 100%;
    height: 1010px;

}
.stage-con{
    width: 1200px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.stage1{
    background: #ffffff;
    width: 234px;
    height: 100px;
    border-radius:6px;
    font-size:24px;
    color:rgba(76,82,99,1);
    line-height:36px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin-top: 77px;
}
.active-box{
    background: url("../img/j5.png") no-repeat 0 0;
    height:134px ;
    color: #ffffff;
}
.stage-con2{
    width: 1200px;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}
.c1{
    font-size:18px;
    color:rgba(255,255,255,1);
    line-height:36px;
}
.c1 p:first-child{
    display: inline-block;
    width:118px;
    height:40px;
    /*background:rgba(255,255,255,1);*/
    border: 0.01rem solid #ffffff;
    line-height: 40px;
    padding-left: 2%;
    font-size: 24px;
    margin-bottom: 10px;
}
.c2 p:first-child{
    margin-top: 30px;
}
.c1 p:last-child{
    width: 600px;
}
.c2 p:last-child{
    width: 550px;
}
.con2-right img{
    width: 600px;
    height: 320px;
}
.con2-right{
    width: 600px;
    height: 320px;
    position: relative;
    margin-top: 30px;
}
.con-meng{
    width: 100%;
    height: 84px;
    color: #ffffff;
    background: rgba(28,2,101,.6);
    position: absolute;
    top: 231px;
    padding-left:20px ;
    padding-top: 13px;
    font-size: 18px;
}
.con-meng p:first-child{
    margin-bottom: 10px;
}
.con-meng p span{
    display: inline-block;
    margin-right: 5px;
}
.b2{
    display: none;
}
.sixth-box{
    width: 100%;
    height: 1245px;
    background: #ffffff;
}
.expert{
    width: 1200px;
    margin: 0 auto;
}
.expert-head img:first-child{
    margin-left: -120px;
}
/*.expert-head img:nth-child(3){*/
    /*margin-right: 30px;*/
/*}*/
.expert-head {
    font-size: 38px;
    font-weight: bold;
    width: 1200px;
}
.expert-con{
    margin: 0 auto;
    text-align: center;
    width:884px;
    height:72px;
    font-size:20px;
    color:rgba(100,109,135,1);
    line-height:48px;
    margin-top: 74px;
}
.expert-intro{
    margin:  0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("../img/dapangzi.png") no-repeat 0 0/100% 100%;

}
.intro-con{
    width: 867px;
    height: 305px;
}
.expert-intro{
    margin-top:10px ;
}
.intro-con{
    font-size:18px;
    color:rgba(239,241,246,1);
    line-height:36px;
    padding: 10px 49px 40px 40px;
    word-break: break-all;
}
.expert-teacher{
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
}
.t1{
    width: 217px;
}
.t1 img{
   width: 238px;
}
.t1 p{
    padding-left: 20px;
}
.t1 p:nth-child(2){
    font-size:18px;
    color:rgba(100,109,135,1);
    line-height:36px;
    font-weight: bold;
}
.t1 p:nth-child(3){
    font-size:18px;
    width: 220px;
    color:rgba(100,109,135,1);
    line-height:35px;
    word-break: break-all;
}
.btn1{
    margin-top: 38px;
}
.seventh-box{
    width: 100%;
    height:790px;
    background: url("../img/7-3.png") no-repeat 0 0 /100% 100%;
}
.java-job{
    width: 1200px;
    margin: 0 auto;
    /*overflow: hidden;*/
}
.job-head img:first-child{
    margin-left: -150px;
}
.job-con {
    width:816px;
    height:93px;
    font-size:20px;
    color:rgba(100,109,135,1);
    line-height:48px;
    margin:  0 auto;
    margin-top: 70px;
    margin-bottom: 60px;
    text-align: center;
}
.job-con2{
    margin: 0 auto;
    width: 1200px;
    display: flex;
    justify-content: space-between;
}
.job1{
    width:270px;
    height:327px;
    background:rgba(255,255,255,1);
    border-radius:16px;
    box-shadow:7px 0px 18px rgba(66,81,146,0.19);

}
.job2{
    width:270px;
    height:70px;
    background:rgba(3,151,226,1);
    color: #ffffff;
    font-size: 24px;
    line-height: 70px;
    border-radius:16px 16px 0px 0px;
    text-align: center;

}
.job3{
    padding: 25px;
    font-size:18px;
    color:rgba(100,109,135,1);
    line-height:30px;
}
.job21{
    background:rgba(245,190,23,1);
}
.job22{
    background:rgba(156,99,198,1);
}
.job23{
    background:rgba(209,138,191,1);
}
.btn2{
    width: 181px;
}
.con211{
    text-align: center;
    font-size: 22px;
    margin:  0 auto;
    color: rgba(28,30,35,1);
}

.autoCenter1 .swiper-slide{
    width: 1980px !important;
    height: 700px;
}







